h1{
	text-align: center;
	font-weight: bold;

}
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

a:hover {
  color: red;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;

}
h2{
	text-align: center;
	font-weight: 400;
	
}
p{
	text-align: center;
	font-weight: 200;
	
}
.bttn{
	background-color: #fff;
	padding: 15px 50px;
	margin: 50px 613px;
	display: flex;
	border-radius: 50px;
	text-align: center;
}
.bttnn{
	background-color: #fff;
	padding: 15px 50px;
	margin: 50px 600px;
	display: flex;
	border-radius: 50px;
	text-align: center;
}