*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.game{
    width: 1200px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}
#character{
    width: 50px;
    height: 50px;
    background-image: url("https://github.com/mdbootstrap/knowledge-base/blob/main/JS/games/dino-game/img/trex.png?raw=true");
    background-size: 50px 50px;
    position:relative;
    top: 150px;
}


.animate{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#block{
    width: 20px;
    height: 40px;
    position: relative;
    top: 110px;
    left: 1130px;
    background-image: url("https://github.com/mdbootstrap/knowledge-base/blob/main/JS/games/dino-game/img/cactus.png?raw=true");
    background-size: 20px 40px;
    animation: block 1s infinite linear;
}


@keyframes block{
    0%{left: 1130px}
    100%{left: -20px}
}

p{
    text-align: center;
    margin: 20px;
}

h1{
    margin: 20px;
  text-align: center;
  font-weight: 200;
}
h3{
    margin: 20px;
  text-align: center;
  font-weight: 200;
}
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

a:hover {
  color: red;
}
